*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: url("https://i.pinimg.com/originals/64/5b/c5/645bc5b95ec2292ce4b3a6a2bdea5244.jpg");
  justify-content: center;
}
::selection{
  color: #fff;
  background: #3498DB;
}
.wrapper{
  height: 265px;
  max-width: 410px;
  background: rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  border: 2px solid rgba(255, 255, 255, 0.11);
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.144);
  backdrop-filter: blur(20px);
}
.wrapper.active{
  height: 530px;
}
header h1{
  font-size: 21px;
  font-weight: 500;
}
header p{
  margin-top: 5px;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 7.5px;
  transition: 0.1s ease;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.11);
}

.form input::placeholder{
  color: #ffffff81;
}
.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border: 2px solid rgba(255, 255, 255, 0.11);
  background: rgba(0, 0, 0, 0.11);
}
.form button:active {
  transform: scale(1.05);
}
.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.11);;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

@media (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active{
    height: 510px;
  }
  header p{
    color: #696969;
  }
  .form :where(input, button){
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  }  
}

* {
  color: white;
}